# ignore the json permissions file
permissions.json

# ignore log files
*.log

# ignore the virtual environment if it wasn't already
venv/

# ignore the .idea and pycache directories from pycharm
.idea/
__pycache__/